*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;transition: all 0.5s;-webkit-transition: all 0.5s;}
ul,ol,dl,table,th,tr,td,input,textarea,li,a,div,span,em,i{margin: 0;padding: 0;	border: 0;}
img {margin: 0;padding: 0;	border: 0;}
li {list-style: none;}
/*全局样式*/
html,body {width: 100%;	margin: 0 auto;}
/*= 清除浮动=*/
.clear {clear: both;height: 0px;line-height: 0px;font-size: 0px;overflow: hidden;display: block;}
.clearfix:after {content: "";display: block;height: 0px;clear: both;visibility: hidden;font-size: 0px;}
:focus{outline:0}
a, button, input[type="button"], input[type="submit"], input[type="reset"]{cursor:pointer}
/* Hides from IE-mac \*/
* html .clearfix {height: 0%;}
/* End hide from IE-mac */
* + html .clearfix {min-height: 0%;}
/* 针对IE7 */
* + html .clearfix {min-height: 0%;}
.w100 {width: 100%;}
.fl {float: left;}
.fr {float: right;}
/*原文件配置*/
body {color: #FFF;background-color: #0c1a36 ;min-width: 320px;font-family: “Noto Sans SC”;font-weight: 100;background-size: 100%;}
.header a {
    color: #FFF !important;
    text-decoration: none;
}
.nav-tabs a{color:#000;} 
.a:hover {
    color: #FFF;
    text-decoration: none
}
/*块级转化*/
.di_in {display: inline-block;}
.di_no {display: none;}
.di_bl {display: block;}
/*原文件配置  end*/
.Light{font-weight: 300;}
.Regular{font-weight: 400;}
.Medium{font-weight: 500;}
.Bold{font-weight: 700;}
/*纵向居中*/
.v_middle {vertical-align: middle;}
.bg{background-image: url(../images/bg.jpg);background-position: center;background-repeat: no-repeat;}
/*相对定位*/
.p_r {position: relative;}
/* 白色背景 */
.bgfff {background: #fff;}
.flex {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.flex-v {-webkit-box-orient: vertical;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}
.flex-1 {-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;}
.flex-align-center {-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.flex-pack-center {-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;}
.flex-pack-justify {-webkit-box-pack: justify;-webkit-justify-content: pace-between;-ms-flex-pack: justify;justify-content: space-between;}
.flex-warp{flex-flow: wrap}
.flex-column{flex-flow: column}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.transition{-webkit-transition: all .5s; -moz-transition: all .5s;-ms-transition: all .5s;-o-transition: all .5s;transition: all .5s}

@media (min-width: 1200px) {
	/*min-width 1200 */
	.container{width: 100%;padding-left: 260px;padding-right: 260px;}
}
 

/*全局样式 start*/
.header{background-color: rgba(0,0,0,0.2);height: 60px;width: 100%;line-height:60px;}
.header .logo{font-size: 32px;}
.header .search{background: url(../images/search.png)no-repeat center;width: 32px;height: 60px;background-size: 100%;z-index: 1;}
.header .nav{font-size: 20px;opacity: 1;z-index: 1;}
.header .nav a{margin-right: 40px;}
.header .nav a:hover {
        opacity: 0.7 !important;
    }
    .header .nav a.cur {
        opacity: 0.7 !important;
        position: relative;
    }
        .header .nav  a.cur::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            height: 2px;
            background-color: #FFF;
        }
.home .header{position: fixed;left: 0;top: 0;z-index: 999;}

.menu-btn{display: none;width: 40px;height: 40px;background: url(../images/menu.png)no-repeat center;background-size: 100%;margin-right: 15px;}

.search-content{position: absolute;right: 260px;width:0px;background-color: rgba(0,0,0,0.2);height: 40px;top: 10px;z-index: 9999;border-radius: 20px;overflow: hidden;opacity: 0;z-index: 0;}
.search-content input[type="submit"]{background:#FFF url(../images/search1.png)no-repeat center;width: 60px;overflow: hidden;text-indent: -999px;background-size: 30px;height: 40px;}
.search-content input[type="text"]{color: #333;padding: 0 20px;height: 40px;}
.on .search{opacity: 0;}
.on .header .nav{opacity: 0;}
.on .search-content{opacity: 1;width: 600px;z-index: 2;}



.footer{border-top: 1px #FFF solid;}
.footer .txt{color: #FFF;opacity: 0.6;font-size: 12px;line-height: 30px;}
.footer .sns a{width: 22px;height: 28px;background-size: 100% !important; display:none;}
.footer .email{background: url(../images/email.png)no-repeat center;margin-right: 20px;}
.footer .t{background: url(../images/t.png)no-repeat center;margin-right: 20px;}
.footer .m{background: url(../images/m.png)no-repeat center;}
.bgDiv{width: 100%;height: 100%;background-color: #000;opacity: .5;position:fixed;display: none;z-index: 99;bottom: 0;}
.map{width: 100%;height: calc(100vh - 30px);}
.public-text {
    font-size: 24px;
    margin-top: 60px;
    height: 60px;
}
.public-text span{font-size: 24px;}
.public-text em{width: 24px;height: 24px;overflow: hidden;border-radius: 50%;font-size: 16px;margin-left: 20px;font-style: normal;background-color: #6300bf;}
.public-text em:nth-last-child(2){background-color: #d8011b;}
.public-text em:nth-last-child(1){background-color: #bebf00;}
.public-text>div:last-child{margin-top: 0px;}
.public-content{border-radius: 20px;padding:0px 45px;margin: 60px 0;min-height: 1100px;}
.nav-tabs {
    font-size: 16px;
    border: 0;
    word-break: break-all;
    line-height:60px;
    min-height: 60px;
}
.nav-tabs>li{margin: 0;}
.nav-tabs>li>a{border: 0;color: #333;}
.nav-tabs>li:nth-child(2){margin-left: 60px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border: 0;color: #3788f6;text-decoration: none;}
.tab-content{margin-top: 0px;}
.table{border: 1px #ddd solid;}
.table th{color: #333;font-size: 16px;}
.table td{color: #989898;font-size: 14px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding:0 15px;line-height: 40px;}
.hash-tag{max-width: 190px;display: inline-block;vertical-align: bottom;}
.pagination>li{margin-right: 4px;}
.pagination-lg>li>a, .pagination-lg>li>span{border-radius: 10px!important;box-shadow:0px 0px 10px rgb(0,0,0,0.2);font-size: 12px;color: #3788f6;}
.pagination>li:nth-child(1)>a{overflow: hidden;text-indent: -999px;width: 30px;background: url(../images/l1.png)no-repeat center;}
.pagination>li:nth-child(2)>a{overflow: hidden;text-indent: -999px;width: 30px;background: url(../images/l2.png)no-repeat center;}
.pagination>li:nth-child(4)>a{overflow: hidden;text-indent: -999px;width: 30px;background: url(../images/r2.png)no-repeat center;}
.pagination>li:nth-child(5)>a{overflow: hidden;text-indent: -999px;width: 30px;background: url(../images/r1.png)no-repeat center; }
.page{margin-top:0px;justify-content: flex-end; height:50px;}
.null{font-size: 32px;padding: 30px;}
.null img{max-width: 90%;}
.search-null{height: calc(100vh - 45px - 60px);width: 100%;}
.search-null .text-content .title{font-size: 46px;}
.search-null .text-content .txt{font-size: 36px;margin-top: 50px;line-height: 1.8;}
.search-null .text-content a{background-color: #FFF;line-height: 30px;border-radius: 45px;width: 270px;color: #3788f6;font-size: 16px;margin-top: 80px;}
.search-null .pic{width: 610px;}
.search-null .pic img{width: 100%;}

 .infobox-info {
    font-family: verdana;
    font-size: 10pt;
    color: #888;
    padding:0 10px 10px;
    overflow: auto;
}
.infobox-title {
    font-family: Verdana;
 	border-bottom:1px #ddd solid;
    line-height: 1.1;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px !important;
    padding-bottom: 10px !important;
    color: #333;text-align: center;
}
 

.infobox-info>div{color: #3788f6;font-size: 16px;border-bottom:1px #ddd solid;padding-bottom: 10px;margin-top: 10px}
.infobox-info>div:last-child{border-bottom: 0}

.infobox-info span{color: #333;font-size: 14px;}

.map-text{position: fixed;left: 260px;top: 50%;transform: translateY(-50%);border-radius: 15px;padding-top: 10px;z-index: 9999;color: #333;width: 360px;}
.map-text .title{font-size: 24px;line-height: 1.5;}
.map-text .txt{font-size: 16px;border-bottom: 1px #ddd solid;line-height: 1.6;}
.map-text .txt:last-child{border-bottom: 0;}
.map-text .txt span{font-size: 18px;color: #3788f6;}
.map-text .txt>div{padding: 10px;}
.map-text .txt>div:first-child{border-right: 1px #ddd solid;}
 
.MicrosoftMap .NavBar_Container .NavBar_MapTypeButtonContainerWrapper,.MicrosoftMap .NavBar_Container.Light .NavBar_zoomIn,.MicrosoftMap .NavBar_Container.Light .NavBar_zoomOut,.MicrosoftMap .bm_LocateMeControl{opacity: 0!important;}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip{transform: rotate(135deg);margin-right:20px;border-width: 15px;margin-bottom: -15px;margin-top: -8px}




/*全局样式 end*/

@media (min-width: 1025px) {
	/*所有hover写在这里面 兼容sofari的移动端不支持hover*/
	
}
@media (max-width: 1681px) {
	.container{padding-left: 140px;padding-right: 140px;}
	.search-content{right: 140px;}
}

@media (max-width: 1441px) {
	/*修改1441以下、小屏显示器*/
	.container{padding-left: 20px;padding-right: 20px;}
	.header .search{width: 26px;}
	.header .nav{font-size: 18px;}
	.search-content{right: 20px;}
	.footer .sns a{width: 32px;}
	.footer .txt{font-size: 12px;}
	.footer .email,.footer .t{margin-right: 50px;}
	
	.public-text{font-size: 24px;}
	.public-text span{font-size: 24px; }
	.public-text em{width: 24px;height: 24px;font-size: 16px;}
	.nav-tabs{font-size: 16px;}	
	.search-null .text-content .title{font-size: 40px;}
	.search-null .text-content .txt{font-size: 30px;margin-top: 40px;}
	.search-null .text-content a{line-height: 30px;border-radius: 35px;width: 240px;font-size: 16px;margin-top: 60px;}
	.search-null .pic{width: 510px;}
	.map-text{left: 20px;}
	
}

@media (max-width: 1199px) {
	/*修改1200以下、小屏显示器*/
	.container{padding-left: 15px;padding-right: 15px;}
	.header .logo{font-size: 28px;}
	.header .nav{padding: 0px;}
	.header .nav a{margin-right: 30px;}

	.nav-tabs{font-size: 16px;}

	.public-text{font-size: 20px;}
	.public-text span{font-size: 24px;}
	.public-text em{width: 24px;height: 24px;font-size:16px;margin-left: 10px;}
 
	
	.search-null .text-content .title{font-size: 32px;}
	.search-null .text-content .txt{font-size: 22px;margin-top: 30px;}
	.search-null .text-content a{line-height: 30px;border-radius: 35px;width: 240px;font-size: 16px;margin-top: 60px;}
	.search-null .pic{width: 410px;}
	
	
}

@media (max-width: 1023px) {
	/*修改1024以下、平板*/
	.header .logo{font-size: 24px;}
	.header .nav{font-size: 14px;}
	.header .nav a{margin-right: 20px;}
	.footer{padding: 10px 0;}
	.footer .txt{font-size: 12px;}
	.footer .sns a{width: 26px;}
	.footer .email,.footer .t{margin-right: 30px;}
	.tab-content{overflow-x: scroll;overflow-y: hidden;}
	.table-tit .pagination,.zimu{display: none;}
	.nav-tabs>li::nth-child(2){margin-left: 40px;}
 
	.null{font-size: 24px;}
	.search-null{flex-flow: column;}
	.search-null .pic{order: 1;margin-top: 50px;}
	.search-null .text-content{order: 2;margin-top: 50px;}
	.search-null{height: calc(100vh - 76px - 75px);width: 100%;}
}

@media (max-width: 767px) {
	/*修改768以下、小屏平板*/
	.menu-btn{display: block;}
	.header .nav{width: 50%;max-width: 400px;height: 100%;background-color: #fff;position: fixed;z-index: 999;top: 0;right: -50%;flex-flow: column;}
	.header .nav a{color: #333;line-height: 40px;}
	.footer .sns a{width: 20px;}
	.footer .email, .footer .t{margin-right: 20px;}
	.footer .txt{font-size: 12px;}
	.nav-tabs, .table th{font-size: 16px;}
	.table td{font-size: 12px;}
	.hash-tag{max-width: 140px;}
	.public-text{font-size: 16px;}
	.public-text span{font-size: 20px;}
}
@media (max-width: 580px) {
	.public-text{font-size: 14px;}
	.public-text span{font-size: 16px;}
	.public-text .txt{flex-flow: column;align-items: flex-start;}
 
	.tab-content{margin-top: 10px;}
	.nav-tabs>li:nth-child(2){margin-left: 30px;}
	.page{margin-top: 20px;}
	.pagination-lg>li>a, .pagination-lg>li>span{font-size: 12px;padding: 6px 13px;}
	.pagination>li:nth-child(1)>a,.pagination>li:nth-child(2)>a,.pagination>li:nth-child(4)>a,.pagination>li:nth-child(5)>a{width: 40px;}
	.null{font-size: 20px;}
	.search-null .pic{width: 80%;}
	.search-null .text-content{margin-top: 40px;width: 100%;}
	.search-null .text-content .title{font-size: 24px;}
	.search-null .text-content .txt{font-size: 18px;margin-top: 10px;}
	.search-null .text-content a{margin-top: 30px;line-height: 50px;width: 200px;font-size: 16px;}
	.search-content .con{width: 100%;}
}
@media (max-width: 424px) {
	
	.header{height: 55px;line-height: 55px;}
	.header .search{height: 55px;}
	.public-text{font-size: 12px;}
	.public-text span{font-size: 14px;}
	.nav-tabs>li:nth-child(2){margin-left: 20px;}
	.nav-tabs{font-size: 16px;}
	.table th{font-size: 12px;}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding:0 4px;}
	.pagination{margin: 0px 0 0 0;}
	.pagination>li{margin-right: 4px;}
	.page{margin-top: 0;}
	.hash-tag{width: 120px;}
	.null{font-size: 16px;}
	.search-null{height: calc(100vh - 66px - 55px);width: 100%;}
	.map-text{width: 90%;}
}

@media (max-width: 374px) {
	.pagination>li{margin-right: 4px;}
	
	
}

.pagination {
    margin: 0px !important;
    padding-top:14px;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 6px 16px !important;
}
.table
{
    margin-bottom:10px !important;
}
.mapdlg{
    z-index:99999 !important;
}
